// Переэкспорт всех миксинов
@forward "mixins/background";
@forward "mixins/container";  
@forward "mixins/fix";
@forward "mixins/icon";
@forward "mixins/index";
@forward "mixins/interactive";

// Общие миксины
@use "variables" as *;

@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin sublayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
